<template>
    <div v-if="!loggedIn">
        <div class="login-btn">
            <modal-login/>
        </div>
        <div class="flex justify-center mt-2">
            <img src="/images/HRDuo-LogoGrey.png" class="is-hidden-touch"/>
        </div>

    </div>

    <dashboard v-else/>
</template>

<script>

import Dashboard from "./components/Dashboard";
import ModalLogin from "./components/ModalLogin";
import { mapState } from 'vuex'
export default {
    components: {Dashboard, ModalLogin},
    data() {
        return {
            showLogin: false
        }
    },
    computed: mapState({
        loggedIn: state => state.auth.loggedIn,
        user: state => state.auth.user
    }),
}
</script>
<style>
.modal {
    width: 800px;
    padding: 30px;
    box-sizing: border-box;
    background-color: #fff;
    font-size: 20px;
    text-align: center;
}

</style>
