<template>
    <div class="pt-6 pb-6 2xl:bg-blue-100">
        <div id="card" class="">
            <h3 class="text-center font-serif primary uppercase text-2xl sm:text-1xl">My Articles</h3>
            <div class="container w-100 lg:w-4/5 mx-auto flex flex-col">
                <div v-for="article in articles" class="flex flex-col md:flex-row overflow-hidden
                                        bg-white rounded-lg shadow-xl  mt-4 w-100 mx-2">
                    <div class="w-full py-4 px-6 text-gray-800 flex flex-col justify-between">
                        <h3 class="font-semibold text-lg leading-tight truncate">{{ article.title }}</h3>
                        <p class="mt-2">
                            {{ article.body }}
                        </p>
                        <p class="text-sm text-gray-700  tracking-wide font-semibold mt-2">
                           Last Update  {{ article.updated_at }}
                        </p>
                        <p class="text-sm text-gray-700  tracking-wide font-semibold mt-2">
                           Created  {{ article.created_at }}
                        </p>
                    </div>
                    <div class="flex-grow text-right">
                        <modal-article-edit :article="article"/>
                    </div>
                </div>
            </div>

        </div>
    </div>

</template>
<script>
    import {mapState} from "vuex";
    import ModalArticleEdit from "./ModalArticle";
    export default {
        components: {ModalArticleEdit},
        computed: mapState({
            articles: state => state.articles.articles
        }),
        mounted() {
            this.$store.dispatch("articles/articles")
        }
}
</script>
<style>
    label {
        font-weight: bold;
    }
    pre {
        text-align: right;
    }
</style>
