<template>
    <div class="container">
        <form>
            <div class="form-group">
                <label for="title">Title</label>
                <input type="title" class="form-control" name="title" id="title" />
            </div>

            <div class="form-group">
                <label for="article">Article</label>
                <textarea class="form-control" name="article" id="article" rows="5"></textarea>
            </div>

            <button type="submit" class="btn btn-primary">Post</button>
        </form>
    </div>
</template>