<template>

    <div class="min-h-full">
        <navbar-app/>
        <div v-if="alert.message" :class="`alert ${alert.type}`">{{alert.message}}</div>
        <modal-article/>
        <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
            <articles/>
        </div>
    </div>

</template>

<script>
import NavbarApp from "./NavbarApp";
import ModalArticle from "./ModalArticle";
import Articles from "./Articles";
import {mapState} from "vuex";

export default {
    components: { NavbarApp, Articles, ModalArticle},
    mounted() {
        this.$store.dispatch("auth/user")
    },
    computed: mapState({
        alert: state => state.alert,
    })
}
</script>
