<template>
    <div>
        <button
            @click="showModal"
        >
            Login
        </button>
    </div>
    <Modal
        v-model="isShow"
        :close="closeModal">

        <div class="modal">
            <div class="container w-100 mx-auto 8 px-6 py-6 shadow">
                <h1 class="text-pink-600 font-bold font-sans text-4xl text-center">Login</h1>
                <div class="h-0.5 bg-gray-200 w-36 mx-auto mt-2.5"></div>
                <form @submit.prevent="login">
                    <div v-if="alert.message" :class="`alert ${alert.type}`">{{alert.message}}</div>

                    <div class="flex flex-col my-5">
                        <label class="my-2">Email</label>
                        <input type="text" v-model="email"
                               class="mt-1 mb-3 shadow-md  rounded-sm bg-gray-100 text-pink-500"/>
                        <label class="my-2">Password</label>
                        <input type="password" v-model="password"
                               class="mt-1 mb-3 shadow-md  rounded-sm bg-gray-100 text-pink-500"
                        />
                    </div>
                    <div class="text-center mt-3">
                        <button class="px-7 py-2 mx-2 font-semibold text-white bg-pink-600 rounded"
                                :disabled=" email && password == ''"
                        >
                            Login
                        </button>
                        <button class="px-7 py-2 mx-2 font-semibold text-white bg-pink-600 rounded " @click.prevent="closeModal">
                            Cancel
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </Modal>
</template>

<script>

import {mapState} from "vuex";

export default {
    data() {
        return {
            isShow: false,
            email : '',
            password : '',
            errors: []
        }
    },
    computed: mapState({
        alert: state => state.alert,
    }),
    methods : {
        showModal() {
            this.isShow = true
        },
        closeModal() {
            this.isShow = false
        },
        login(){
            this.$store.dispatch("auth/login", { email : this.email, password: this.password})
        }
    }
}
</script>
