<template>
    <button class="py-2 px-4 font-semibold rounded-lg shadow-md text-white bg-green-500 hover:bg-green-700"
            @click="showModal">
        {{ article.id == null ? 'New Post ' : 'Edit' }}
    </button>
    <Modal
        v-model="isShow"
        :close="closeModal">
        <div class="modal">
            <div class="container w-100 mx-auto 8 px-6 py-6 shadow">
                <h1 class="text-pink-600 font-bold font-sans text-4xl text-center"> {{ article.id == null ? 'New Post' : 'Edit' }}  </h1>
                <div class="h-0.5 bg-gray-200 w-36 mx-auto mt-2.5"></div>
                <form @submit.prevent="post.id ? editPost : addPost">
                    <div class="flex flex-col my-5">
                        <label class="my-2">Title</label>
                        <input type="text" v-model="post.title" :maxlength="maxAllowedTitle"
                               class="mt-1 mb-3 shadow-md border-none focus:ring-transparent rounded-sm bg-gray-100 text-pink-500"/>
                        <p class="mt-2 text-sm text-red-500">
                            {{ countRestTtitle }}
                        </p>
                        <label class="my-2">Body</label>
                        <div class="mt-1">
                            <textarea rows="6" v-model="post.body" :maxlength="maxAllowedBody"
                                      class="border-2 shadow-sm focus:ring-indigo-500 focus:border-indigo-500
                                      mt-1 block w-full sm:text-sm border-gray-300 rounded-md"
                                      placeholder="you@example.com">

                            </textarea>
                        </div>
                        <p class="mt-2 text-sm text-red-500">
                            {{ countRestBody }}
                        </p>
                    </div>
                    <div class="text-center mt-3">
                        <button class="px-4 py-2 mx-2 font-semibold text-white bg-pink-600 rounded "
                                v-if="post.id"
                                :disabled="post.title && post.body == ''" @click="editPost">
                            Edit Post
                        </button>
                        <button v-else class="px-4 py-2 mx-2 font-semibold text-white bg-pink-600 rounded "
                                :disabled="post.title && post.body == ''" @click="addPost">
                            Post
                        </button>
                        <button class="px-4 py-2 mx-2 font-semibold text-white bg-pink-600 rounded "
                                @click.prevent="closeModal">
                            Cancel
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </Modal>
</template>

<script>

export default {
    props: {
        article: {
            type: Object,
            default: {},
            require: false
        }
    },
    data() {
        return {
            isShow: false,
            counter: 0,
            maxAllowedBody: 250,
            maxAllowedTitle: 60,
            post: {}
        }
    },
    mounted() {
        if (typeof this.article.id != 'undefined' && this.article.id != null) {
            this.post = JSON.parse(JSON.stringify(this.article));
        } else {
           return this.initialicePost();
        }

    },
    computed: {
        countRestBody: function () {
            return this.maxAllowedBody - this.post.body.length;
        },
        countRestTtitle: function () {
            return this.maxAllowedTitle - this.post.title.length;
        }
    },
    methods: {
        showModal() {
            this.isShow = true
        },
        closeModal() {
            this.isShow = false
        },
        addPost() {
            this.$store.dispatch("articles/addArticle", this.post)
            this.initialicePost();
            this.closeModal();
        },
        editPost() {
            this.$store.dispatch("articles/editArticle", this.post)
            this.closeModal();
        },
        initialicePost(){
            this.post = {
                title : '',
                body : '',
                id: null
            };
        }
    }
}
</script>
